

@model IEnumerable<AttendanceApp.Models.LeaveApplication>


@using Newtonsoft.Json;
@using AttendanceApp.Models;
@using System;
@using System.Globalization;



@{ ViewBag.Title = "Index";
    Employee userinfo = JsonConvert.DeserializeObject<Employee>(User.Identity.Name); }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Leave List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Leave List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@helper DisplayTime(string time)
{DateTime dt = Convert.ToDateTime(time);


<span>
    @dt.TimeOfDay.ToString()

</span>


}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Projects</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 20%">
                        Employee Name
                    </th>
                    <th style="width: 30%">
                        Leave Date
                    </th>
                    <th style="width: 30%">
                        No Of Days
                    </th>
                    <th>
                        Reason
                    </th>
                    <th style="width: 8%" class="text-center">
                        Type
                    </th>
                    <th style="width: 20%">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
    <tr>
        <td>
            #
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.from)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveType)
        </td>
        <td class="project-actions text-right">
            <a class="btn btn-primary btn-sm" href="#">
                <i class="fas fa-folder">
                </i>
                View
            </a>
            <a class="btn btn-info btn-sm" href="#">
                <i class="fas fa-pencil-alt">
                </i>
                Edit
            </a>
            <a class="btn btn-danger btn-sm" href="#">
                <i class="fas fa-trash">
                </i>
                Delete
            </a>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>